otel:
  resource:
    service_name: orders-api
  trace:
    exporter:
      type: {{env "OTEL_TRACE_EXPORTER" | default "otlp"}}
      otlp:
        type: grpc
        target: {{env "OTEL_OTLP_TARGET" | default "localhost:4317"}}
  metric:
    exporter:
      type: {{env "OTEL_METRIC_EXPORTER" | default "otlp"}}
      otlp:
        type: grpc
        target: {{env "OTEL_OTLP_TARGET" | default "localhost:4317"}}
  log:
    exporter:
      type: {{env "OTEL_LOG_EXPORTER" | default "otlp"}}
      otlp:
        type: grpc
        target: {{env "OTEL_OTLP_TARGET" | default "localhost:4317"}}

http:
  port: {{env "HTTP_PORT" | default 8090}}

services:
  data_url: {{env "DATA_SERVICE_URL" | default "http://localhost:8080"}}
  restriction_url: {{env "RESTRICTION_SERVICE_URL" | default "http://localhost:8080"}}
  eligibility_url: {{env "ELIGIBILITY_SERVICE_URL" | default "http://localhost:8080"}}
